main.py
.DS_Store
__pycache__
CleanCode/BacktestEngine.py
CleanCode/Configuration.py
CleanCode/IStrategy.py
CleanCode/DataFiles/etf_prices.csv
CleanCode/DataFiles/index_prices.csv
CleanCode/DataFiles/vix_data.csv
CleanCode/DataFiles/yield.csv
CleanCode/CointegrationStrategy.py
CleanCode/DistanceStrategy.py
CleanCode/MarketUtils.py
CleanCode/DataFiles/Cointegration.png
CleanCode/DataFiles/Cointegration20230217.csv
CleanCode/DataFiles/Distance.png
CleanCode/DataFiles/Distance20230217.csv
CleanCode/DataFiles/news_sentiment_data.csv
CleanCode/CointegrationEnhanced.py
CleanCode/CopulaStrategy.py
CleanCode/DataFiles/CointegrationStrategy.png
CleanCode/DataFiles/copula20230223.csv
CleanCode/DataFiles/CopulaStrategy.png
CleanCode/DataFiles/Indices.png
CleanCode/DataFiles/sentiment.png
CleanCode/DataFiles/VIX.png
CleanCode/DataFiles/Yield.png
